<!DOCTYPE html>
<html>
<head>

<link href="stylesheets/externalCSS/reset.css" rel="stylesheet" type="text/css">
<link href="stylesheets/externalCSS/normalize.css" rel="stylesheet" type="text/css">

<!-- <link href="stylesheets/externalCSS/bootstrap.css" rel="stylesheet" type="text/css">
<link href="stylesheets/externalCSS/toolbar.css" rel="stylesheet" />
<link href="stylesheets/externalCSS/bootstrap.icons.css" rel="stylesheet" /> -->
<!-- <link href="stylesheets/style.css" rel="stylesheet" type="text/css"> -->
<link href="stylesheets/collapse.css" rel="stylesheet" type="text/css">
<link href="stylesheets/dragDrop.css" rel="stylesheet" type="text/css">
<link href="stylesheets/editor.css" rel="stylesheet" type="text/css">
<link href="stylesheets/list.css" rel="stylesheet" type="text/css">
<link href="stylesheets/nav.css" rel="stylesheet" type="text/css">
<link href="stylesheets/panel.css" rel="stylesheet" type="text/css">
<link href="stylesheets/revControl.css" rel="stylesheet" type="text/css">
<link href="stylesheets/sidebar.css" rel="stylesheet" type="text/css">
<link href="stylesheets/autoComplete.css" rel="stylesheet" type="text/css">




<script src="js/libs/externalLibs/jquery-2.0.3.js"></script>

<script src="socket.io/socket.io.js"></script>
<script src="js/libs/myLogic/voInitializer.js"></script>
<script src="js/libs/myLogic/addNode.js"></script>
<script src="js/libs/myLogic/removeNode.js"></script>
<script src="js/libs/myLogic/keydownHandler.js"></script>
<script src="js/libs/myLogic/moveNode.js"></script>
<script src="js/libs/myLogic/revControl.js"></script>


<script src="js/app.js"></script> 
<script src="js/listeners/revListeners.js"></script> 
<script src="js/listeners/editorListeners.js"></script>
<script src="js/listeners/dragDropListeners.js"></script>



<script src="js/libs/externalLibs/rangyinputs-jquery-1.1.2.js"></script>
<script src="js/libs/externalLibs/textarea_auto_expand.js"></script>
<script src="js/libs/externalLibs/jqueryTextComplete.js"></script>


 <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] },
      TeX: { equationNumbers: {autoNumber: "AMS"} }
    });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="js/libs/externalLibs/marked.js"></script>

<script src ="js/libs/externalLibs/underscore-min.js"></script>
<script src="js/libs/externalLibs/backbone-min.js"></script>
<script src="js/libs/externalLibs/markdowneditor.js"></script>


<script src="js/backbone/models/node.js"></script>
<script src="js/backbone/collections/nodesCollection.js"></script>
<script src="js/backbone/views/metaView.js"></script>
<script src="js/backbone/views/listView.js"></script>
<script src="js/backbone/views/showView.js"></script>
<script src="js/backbone/router.js"></script>


<body>
<div class='myNav'>
  <a class='logoLink'>CoNote</a>
  <textarea id='searchBar'></textarea>
  <a class='btn btn-default'><i class='icon-star'></i></a>

  <ul class='navbar-right'>
    <li><a class='toggleSidebar'>Toggle sideBar</a></li>
    <li><a id="googleButton" href='/auth/google'>Sign In With Google</a></li>
    <!-- <li><a id="profileButton"></a></li> -->
    <li><a id='COMMIT'>Make Commit!</a></li>
    <!-- <li><a><img src='img/undo.png'></a></li>
    <li><a><img src='img/redo.png'></a></li> -->
    <li><a id='markdownButton'>x<sup>2</sup></a></li>
  </ul>


</div>

<div id='metaSidebar'>
  <div class='nodeAttributes'>
    <b>Node Attributes</b>
    <br><br>
    <ul>
      <li id='authorLI'>author: you</li>
      <li id='timestampLI'>timeStamp: now</li>
    </ul>
  </div>
  <div class='revHistory'>
    <a class='getRevHistory'>Get revHistory</a>
    <ul id='revTimestamps'>
    </ul>
  </div>
</div>

<div id='mainPanel' class='floatRight'>
    <div id="pathDiv">PathDIV</div>
    <div class='main main1 panel'>
      <ul id="0" class='root subList dd-list' ></ul>
      <h4 class="addendum"><small> Make lists. Not war. </small></h4>
    </div>
  </div>
</div>

 
</body>
<script>
$(function(){
	$('textarea').textareaAutoExpand();
 }); 

var width;
$(window).resize(function() {
  width = $(window).width();
  if(width < 730){
    $(".navbar-right").hide();
  }
  if(width > 730){
    $(".navbar-right").show();
  }
});



</script>

</html>