<%  if(content){%>
<li>
<div class="task-wrappper">
  <div class="task">
    <div class="link">•
      <div class="options">
        <div class="options-left">
          <div class="mouse-tip"></div>
          <%  if(isCompleted){%>
            <a class="uncomplete">Uncomplete<hr></a>
          <%}else {%>
            <a class="complete">Complete<hr></a>
          <%}%>
          <a class="note">
              <span class="note">Add Note</span>
          </a>
        </div>
      </div>
    </div>

    <%  if(isCompleted){%>
      <input value="<%= content %>" data-id="<%= id %>" data-parent-id="<%= parentId %>" data-priority="<%= priority %>" class="edit task-completed">
    <%}else {%>
      <input value="<%= content %>" data-id="<%= id %>" data-parent-id="<%= parentId %>" data-priority="<%= priority %>" class="edit">
    <%}%>
  </div>
</div>
</li>
<%}%>
