




.expandCollapse{
  display: block;
  position: absolute;
  left: -28px;
  top: -2px;
  opacity: 0.001;
}
  
ul li a.zoomButton{
  display: block;
  position: absolute;
  left: -17px;

  height: 11px !important;
  width: 11px;

  margin-top: 4px;
  margin-right: 8px;

  
  

  border: 2px solid black;
}

.collapsed{
  background-color: grey;
}














/*OLD CRAP*/



/*.handle {
  display: float;
  height: 22px;
  width: 16px;
}
.handle a {
  height: 24px;
  width: 16px;
}
.handle a img {
  height: 16px;
  width: 16px;
  margin-bottom: 8px;
}*/