#marked-mathjax-input{
  border: 2px dotted black;
  margin-left: 0px;
  background-color: rgb(245, 231, 234); 
}

textarea {
    width: 100%; 
    /*height: 1em;*/
    height: 22px;
    margin-left: 0;
    overflow: hidden; 
    padding: 0;
    border: none; 
    resize: none;
    font-size: 110%;
  }

textarea:focus {
    outline: 0px none transparent;
}

  /*textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}*/