body {
  background-color: rgb(245, 245, 245);
}

/* Fix for Firefox dotted outline */
:focus, :active, :hover {
  outline:0 none !important;
}
/******* Body ********/

/**************** Panel ****************/

/*revListeners.js , index.ejs*/
.floatRight{
  float: left;
  margin-top: 40px;
  width: 760px;
}

.centering{
  width: 760px;
  margin: auto;
  margin-top: 40px;
}

.panel {
  background: none repeat scroll 0% 0% rgb(252, 252, 252);
  padding: 20px;
  min-height: 800px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  /*box-shadow: h-shadow v-shadow blur spread color inset;*/
}
.col-sidebar-panel {
  margin-left: 50px;
}
.addendum {
  position:absolute;
  bottom: 35px;
}

.root {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
/**************** Panel ****************/


/*MINE */

#pathDiv {
  position: relative;
  top:30px;
  width: 90%;
  margin: auto;
  border: 1px solid rgb(217, 217, 217);
  height: 20px;
}

/*
#pathDiv{
  background-color: grey; 
  position: absolute;
  width: 200px;
  z-index: 900000000; 
  left: -187px;
  top: 10px;
}


.panelMenu {
  height: 40px;
  border: 1px solid rgb(217, 217, 217);
}
*/