body {
	background-color: rgb(245, 245, 245);
}

/* Fix for Firefox dotted outline */
:focus, :active, :hover {
  outline:0 none !important;
}

/************** Navbar *****************/
.navbar-primary .navbar {
	border-bottom:none;
}
.navbar-primary .navbar .navbar-brand {
	color:#fff;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

/* Navbar-xs */
.navbar-xs .navbar-primary .navbar {
	min-height:36px;
}
/* Sidebar Link */
.navbar-xs a.navbar-left {
  margin: 7px;
  margin-left: 10px;
}
.navbar-xs a i {
  margin: 0;
}
/* Navbar-Brand */
.navbar-xs .navbar-primary .navbar .navbar-brand {
	padding: 8px 8px;
	font-size: 16px;
	line-height: 18px;
}
.navbar-xs .navbar-brand {
  margin-top: 2px;
}
/* Search Form */
.navbar-xs .navbar-form {
  height: 28px;
  margin-top: 4px;
  margin-bottom: 0;
  padding-right: 6px;
}
.navbar-xs .navbar-form .form-control {
  height: 28px;
  /*padding: 0 12px;*/
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 3px;
}
/* Star Button */
.navbar-xs .btn {
  min-width: 27px;
  width: 27px;
  height: 28px;
  margin-top: 4px;
}
.navbar-xs .btn i {
  margin-left: -7px;
  margin-top: -2px;
}
/* Navbar Nav */
.navbar-xs ul {
  margin: 2px
}
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 18px;
}
.navbar-xs a img {
  height: 16px;
  margin-top: 0px;
}
/************* End Navbar **************/

/*************** Sidebar ***************/

.sidebar .list-group-item {
  position: relative;
  display: block;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
}

.sidebar .list-group-icon {
  position: relative;
  top: -8px;
}

.sidebar .list-group-icon-tag {
  position: relative;
  top: -7px;
}

.sidebar .list-group-item-text {
  margin-left: 4px;
}

/************* End Sidebar *************/

/**************** Panel ****************/
/*.main-container {
  margin-top: 60px;
  margin-bottom: 30px;
}*/
.centering{
  width: 800px;
  margin: auto;
}

.panel {
	background: none repeat scroll 0% 0% rgb(252, 252, 252);
	padding: 20px;
	min-height: 800px;
	border: 1px solid rgb(217, 217, 217);
	border-radius: 5px;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  /*box-shadow: h-shadow v-shadow blur spread color inset;*/
}
.col-sidebar-panel {
  margin-left: 50px;
}
.addendum {
  position:absolute;
  bottom: 35px;
}

.root {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
/**************** Panel ****************/

/**************** List *****************/



ul {
  margin-left: 20px;
  padding: 0;
}
.node {
	padding: 0;
	padding-top: 0;
	margin-left: 0;
	list-style: none;
}
.leaf {
  margin-left: 20px;
}
.expand {
  display: inline-block;
  height: 22px;
  width: 16px;
}
.expand a {
  cursor: pointer;
  display: block;
  position: relative;
  text-align: center;
  vertical-align: center;
  height: 20px;
  width: 16px;
  bottom: 3px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.handle {
  display: float;
  height: 22px;
  width: 16px;
}
.handle a {
  height: 24px;
  width: 16px;
}
.handle a img {
  height: 16px;
  width: 16px;
  margin-bottom: 8px;
}
.node .content {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 100%;
}
.node p {
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 16px;
}
.subList {
  padding-top: 0;
  padding-bottom: 0;
}


/*MINE */

#pathDiv {
  position: relative;
  top:30px;
  width: 90%;
  margin: auto;
  border: 1px solid rgb(217, 217, 217);
  height: 20px;
}

/*
#pathDiv{
  background-color: grey; 
  position: absolute;
  width: 200px;
  z-index: 900000000; 
  left: -187px;
  top: 10px;
}


.panelMenu {
  height: 40px;
  border: 1px solid rgb(217, 217, 217);
}
*/


.root ul {
    /*padding: 4px !important; */
    padding-top: 1px !important;
    margin-right: 0px !important; 
    /*margin-left: 25px !important;*/
    list-style-type: square;
  }
  
  .root li {
    /*background: brown;*/
    position: relative;
    padding: 0;
    padding-top: 0px;
    margin: 0;
    margin-left: 10px;
    background-repeat: no-repeat;
    list-style: none;
    /*background-image: url(smiley.png); */
    /*background-size: 15px 15px; 
    background-position: -1px 2px;*/
  }
textarea {
    width: 100%; 
    /*height: 1em;*/
    height: 22px;
    margin-left: 0;
    overflow: hidden; 
    padding: 0;
    border: none; 
    resize: none;
    font-size: 110%;
  }

  /*textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}*/

.expandCollapse{
  display: block;
  position: absolute;
  left: -28px;
  /*margin-top: -23px;*/
  top: -2px;
  opacity: 0.001;
  /*visibility: hidden; */
}



  
  ul li a.zoomButton{
    display: block;
    position: absolute;
    left: -17px;

    height: 11px !important;
    width: 11px;

    margin-top: 4px;
    margin-right: 8px;

    /*background: url("smiley.png") no-repeat center; */
    /*background-color: grey;*/
    background-size: 140%;
    

    border: 2px solid black;
  }

  .collapsed{
    background-color: grey;
  }

  ul li i{
    position: absolute;
    right: 0px;
    top: 2px;
    
  }

textarea:focus {
    outline: 0px none transparent;
  }
/**************** List *****************/

/************** Draggable **************/
.placeholder {
  display: block;
  height: 24px;
  width: 100%;
  border: 1px solid rgb(65, 65, 65);
  list-style: none;
}