
.ui-tabs {
  position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: .2em;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  margin-left: -3px;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 1px;
  border-radius: 5px 5px 0px 0px;
  background: rgb(217,217,217);
}
/*.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  cursor: text;
}*/
/* first selector in group seems obsolete, but required
 * to overcome bug in Opera applying cursor: text overall if defined elsewhere...
 */
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  border-radius: 0px 5px 5px 5px;
  background: rgb(217,217,217);
}